# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
*.env

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# pyenv
.python-version

# Environment variable files
.env
.env.*

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Flask stuff:
instance/
.webassets-cache

# Test artifacts
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Docker
*.pid

# Celery
celerybeat-schedule
celerybeat.pid

# SQL dumps
*.sql

# Backup files
*~
*.bak
*.swp
*.tmp